{% extends 'base.html' %}

{% block title -%}
Products list
{%- endblock %}

{% block body %}
  <h1>Products:</h1>
  {% if products %}
    <ul>
      {% for product in products %}
        <li><a
          href="{{ url_for('products_app.product_details', product_id=product.id) }}"
        >{{ product.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>No products yet.</h3>
  {% endif %}

  <div>
    <a href="{{ url_for('products_app.add') }}">Add product</a>
  </div>

{% endblock %}
