<!DOCTYPE html>
<html lang="en">
<head>
{#  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <meta charset="UTF-8">
  <title>
    {% block title %}
      Base title
    {% endblock %}
  </title>
</head>
<body>
<div class="container">
{% block body %}
    Base body
{% endblock %}
</div>
</body>
<footer style="margin-top: 3em">
  &copy; Suren, OTUS. 2022
</footer>
</html>
